<title><%= yield(:title) %> | Search</title>
<%= form_tag(model:Course, method: :get, role: 'form') do %>
  <div class='row'>
    <h1>Search For a Course</h1>
    <div class="form-group col-xs-6 col-md-4">
      <%= text_field_tag :search, params[:search], placeholder: "Course Name" %>
      <%= select_tag :browse, options_from_collection_for_select(@subjects, :subject_id, :name, params[:browse]), {:include_blank => true}%>

      <br>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
