<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div id="logo">
      Brandeis University
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
        <li><%= link_to "Profile", user_path(current_user) %></li>
        <li><%= link_to 'Instuctors', instructors_path %></li>
        <li><%= link_to 'Courses', courses_path %></li>
        <li><%= link_to 'Subjects', subjects_path %></li>
        <li><%= link_to 'Search', search_path %></li>
        <li><%= link_to "Log out", logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Home", root_path%></li>
        <li><%= link_to "Log In", login_path%></li>
        <li><%= link_to "Sign Up", signup_path%></li>
      <% end %>
    </ul>

    </nav>

  </div>
</header>
